<h1>Edit Field clearation data</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.field_clearation_data_path(@conn, :update, @field_clearation_data)) %>

<span><%= link "Back", to: Routes.field_clearation_data_path(@conn, :index) %></span>
