<h1>Show Field clearation data</h1>

<ul>

  <li>
    <strong>Clearation date:</strong>
    <%= @field_clearation_data.clearation_date %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @field_clearation_data.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.field_clearation_data_path(@conn, :edit, @field_clearation_data) %></span>
<span><%= link "Back", to: Routes.field_clearation_data_path(@conn, :index) %></span>
