<div class="container">
  <h1>Edit Field bot</h1>

  <%= render "form.html", Map.put(assigns, :action, Routes.field_bot_path(@conn, :update,  @field_bot)) %>

  <span><%= link "Back", to: Routes.field_bot_path(@conn, :index) %></span>

</div>
