<h1>New Field preparation data</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.field_preparation_data_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.field_preparation_data_path(@conn, :index) %></span>
